@media all and (max-width: 779px){

    #wrap{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
    }

  
    header,section,footer{
        width: 100%;
        margin: 0 auto;
        
    }

    header{
        width: 100%;
        height: 610px;
        overflow: hidden;
    }

    
    /* header01 */
    #header01{
        width: 100%;
        height: 160px;
        
    }
    
    #logo{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

   
    
    #search_wrap{
        width: 100vw;
        /* 780/780*100 */
        height: 10.256vw;
        /* 80/780*100 */
        background-color: #006EA7;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
    
    form{
        display: flex;
        justify-content: center;
    }
    
    #search{
        width: 57.692vw;
        /* 450/780*100 */
        height: 5.128vw;
        /* 40/780*100 */
        border-radius: 3.846vw 3.846vw;
        /* 30/780*100 */
        border-color: #fff;
        text-align: center;
        margin-right: 1.282vw;
        /* 10/780*100 */
    }
    
    
    header form button{
        border: none;
        background-color: #006EA7;
    }

    button img{
        width: 4.358vw;
        /* 34/780*100 */
        height: 4.358vw;
    }

    
    #login_box{
        width: 230px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
       
    }
    
    .login img{
        width: 5.208vw;
        float: left;
    }


    
    
    /* mo_btn */
    #mo_btn{
        width: 4.487vw;
        /* 35/780*100 */
        height: 3.205vw;
        /* 25/780*100 */
        position: relative;
        right: -6.41vw;
        /* 50/780*100 */
    }

    .btn{
        width: 100%;
        height: 0.384vw;
        /* 3/780*100 */
        background-color: #fff;

    }

    .btn:nth-child(2){
        position: absolute;
        top: 1.41vw;
        /* 11/780*100 */
    }

    .btn:nth-child(3){
        position: absolute;
        bottom: 0;
    }
    


    /* tab */
    #tab{
        width: 76.923vw;
        /* 600/780*100 */
        height: 96.153vw;
        /* 750/780*100 */
        position: absolute;
        top: 0;
        right: -78.205vw;
        /* 610/780*100 */
        border: 0.641vw solid #006EA7;
        /* 5/780*100 */
        background-color: #fff;
        z-index: 999;
        

    }

    #tab_box{
        width: 100%;
        height: 10.256vw;
        /* 80/780*100 */
        background-color: #006EA7;
        
    }

    #tab_box h2{
        width: 38.461vw;
        /* 300/780*100 */
        height: 100%;
        text-align: center;
        line-height: 10.256vw;
        /* 80/780*100 */
        color: #fff;
        margin: 0 auto;
    }

    #close_btn{
        width: 3.846vw;
        /* 30/780*100 */
        height: 3.846vw;
        position: absolute;
        top: 5.128vw;
        /* 40/780*100 */
        right: 7.692vw;
        /* 40/780*100 */
        
    }

    .close{
        width: 100%;
        height: 0.384vw;
        /* 3/780*100 */
        background-color: #fff;
    }

    .close:nth-child(1){
        
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(45deg);
        
    }

    .close:nth-child(2){
        transform: rotate(-45deg);
    }

    #tab_menu{
        width: 71.794vw;
        /* 560/780*100*/
        height: 38.461vw;
        /* 300/780*100 */
        padding: 2.564vw;
        /* 20/780*100 */

    }

    #login2{
        width: 33.333vw;
        /* 260/780*100 */
        height: 6.41vw;
        /* 50/780*100 */
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    #login2 img{
        width: 12.82vw;
        /* 100/780*100 */
        height: 6.41vw;
        /* 50/780*100 */
    }

    
    #menu_wrap02{
        width: 64.102vw;
        /* 500/780*100 */
        height: 51.282vw;
        /* 400/780*100 */
        margin-top: 6.41vw;
        /* 50/780*100 */
        
    }

    #menu_wrap02>li{
        width: 19.23vw;
        /* 150/780*100 */
        height: 2.564vw;
        /* 20/780*100 */
        margin-right: 6.41vw;
        /* 50/780*100 */
        float: left;
        font-size: 2.307vw;
        /* 18/780*100 */
    }

    #menu_wrap02>li:nth-child(3),li:nth-child(4), #menu_wrap02>li:nth-child(5), #menu_wrap02>li:nth-child(6){
        margin-top: 2.564vw;
        /* 20/780*100 */
        margin-bottom: 2.564vw;
        /* 20/780*100 */
    }

    #menu_wrap02>li:nth-child(7){
        margin-top: 2.564vw;
        /* 20/780*100 */
    }

    label img{
        width: 2.307vw;
        /* 18/780*100 */
        height: 1.41vw;
        /* 11/780*100 */
    }

    
    #sub_menu_wrap02{
        width: 70.512vw;
        /* 550/780*100 */
        height: 51.282vw;
        /* 400/780*100 */
        transition: 0.5s;
        
    }

    .sub_menu02{
        width: 17.564vw;
        /* 137/780*100 */
        height: 25.641vw;
        /* 200/780*100 */
        float: left;
        text-align: center;
        margin-top: 2.564vw;
        /* 20/780*100 */
    }

    .sub_menu02 h4{
        margin-bottom: 2.564vw;
        /* 20/780*100 */
    }
    
    .sub_menu02 li{
        margin-bottom: 1.282vw;
        /* 10/780*100 */
    }

    #sub_menu_wrap02{
        opacity: 0;
    }

    #plus_menu:checked~#sub_menu_wrap02{
        opacity: 1;
    }
    


    /* header02 */
    #header02{
        width: 100%;
        margin: 50px 0;
        height: 30px;
        
       
    }
    
    #menu_wrap{
       width: 62.5vw;
       /* 1200/1920*100 */
       height: 100%;
       margin: 0 auto;
       line-height: 30px;
       display: flex;
       justify-content: space-around;
       display: none;
    }
    
    #menu_wrap>li{
        width: 9vw;
        text-align: center;
    }
    
    .menu{
        transition: 0.5s;
    }
    
    #menu_wrap>li:hover .menu{
        margin-top: -5px;
        
    }
    
    
    .point{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #006EA7;
        margin: 0 auto;
        opacity: 0;
        transition: 0.5s;
    }
    
    #menu_wrap>li:hover .point{
        opacity: 1;
        margin-top: 5px;
    }
    
    
    #plus_menu02{
        display: none;
        
    }
    
    #menu_label02{
        position: relative;
        
    }
    
    #menu_label02 img{
        position: absolute;
        bottom: 3px;
        right: 5px;
        margin-right: -30px;
        transition: 0.5s;
    }
    
    #sub_menu_wrap{
        width: 62.5vw;
        height: 260px;
        opacity: 0;
        transition: 0.5s;
        position: relative; 
        top: 50px;   
        right: 53.5vw;
        z-index: 99;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        
    } 
    
    #plus_menu02:checked~#sub_menu_wrap02{
       opacity: 1;
    }
    
    #plus_menu02:checked~#menu_label02 img{
        transform: rotate(180deg);
    }
    
    .sub_menu{
       
        height: 100%;
        float: left;
    }
    
    .sub_menu h4{
        position: relative;
        margin-bottom: 20px;
    }
    
    .sub_menu h4::after{
        width: 0px;
        height: 2px;
        display: block;
        content: '';
        background-color: #006EA7;
        position: absolute;
        bottom: 0;
        left: 0;
        /* 70/1920*100 */
        transition: 0.5s;
     
    }
    
    .sub_menu h4:hover::after{
        width: 100%;
        
    }
    
    .sub_menu li{
        position: relative;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .sub_menu li:after{
        width: 0;
        height: 2px;
        display: block;
        content: '';
        background-color: #006EA7;
        transition: 0.5s;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .sub_menu li:hover::after{
        width: 100%;
    }

    
    
    section{
        position: relative;
        top: -450px
        
    }



    /* section01 */

  
    #sec01{
        display: none;
    }


    /* section02 */

    #sec02{
        display: none;
    }
    
    
    /* section03 */
   
    #sec03 img{
        width: 100vw;
        height: 88.461vw;
    }
    
    /* footer */
    footer{
        position: relative;
        top: -400px
        
    }


    #footer_wrap{
        width: 97.435vw;
        /* 760/780*100 */
        margin: 0 auto;
        position: relative;
    }
    
    #fo01{
        width: 44.871vw;
        /* 350/780*100 */
        height: 130px;
        margin: 0 auto;
        
        
       
    }
    
    #fo01 h1{
        width: 44.871vw;
        position: absolute;
        top: 14.102vw;
        /* 110/780*100 */
        
    }
    
    #fo02{
        width: 64.102vw;
        /* 500/780*100 */
        height: 26.923vw;
        /* 210/780*100 */
        font-size: 3.333vw;
        /* 26/780*100 */
        margin: 6.41vw 23.076vw;
        /* 50/780*100 */
        /* 180/780*100 */
    }

    #fo02 li{
        float: left;
        margin-right: 30px;
        /* 30/780*100 */
    }

    #fo02 li:nth-child(3){
        margin: 2.564vw 0;
        margin-right: 3.846vw;
        /* 30/780*100 */
    }

    #fo02 li:nth-child(7){
        margin-bottom: 3.846vw;
    }
    
    #fo03{
        width: 57.692vw;
        /* 450/780*100 */
        font-size: 3.589vw;
        /* 28/780*100 */
        margin: 0 auto;
    }
    
    #fo04{
        width: 57.692vw;
        /* 450/780*100 */
        font-size: 3.589vw;
        /* 28/780*100 */
        margin: 6.41vw auto;
        /* 50/780*100 */
    }

    #fo05{
        width: 57.692vw;
        /* 450/780*100 */
        font-size: 3.589vw;
        /* 28/780*100 */
        margin: 0 auto;
    }

    #fo06{
        width: 38.461vw;
        /* 300/780*100 */
        position: absolute;
        /* 160/780*100 */
        left: 50%;
        margin-left: -19.23vw;
        /* 150/780*100 */
        margin-top: 100px;
        
    }
    
    #kor{
        width: 19.23vw;
        /* 150/780*100 */
        position: absolute;
        top: -20px;
        left: -20px;
    
    }
    
    select{
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
    }
    
    #download{
        width: 38.461vw;
        /* 300/780*100 */
        position: relative;
        margin: 10px;
        left: -30px;
        
    
    }
    
    #app_text{
        width: 19.23vw;
        /* 150/780*100 */
    }
    
    #app_img{
        width: 90px;
        /* 90/780*100 */
        position: absolute;
        top: -1.025vw;
        /* 8/780*100 */
        right: -60px;
        
    }
    
    #app_img img{
        float: left;
        margin-right: 2.564vw;
        /* 20/780*100 */
    }



  
    
    #sns{
        width: 38.461vw;
        /* 300/780*100 */
        display: flex;
        align-items: center;
        margin: 10px auto;
        position: absolute;
        left: -6.41vw;
        /* 50/780*100 */
    
    }
    
    #sns li{
        margin-right: 4.487vw;
        /* 35/780*100 */
    }
    
    #sns li:last-child{
        margin-right: 0;
    }
    
    
    /* top_btn */
    #top_btn{
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 60px;
        right: 60px;
        background-color: #006EA7;
        color: #fff;
        text-align: center;
        line-height: 80px;
        z-index: 999;
        display: none;
    }
    
    
    
    
    
    
    
    }